<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">make a new celeb</a>
<br />
<a href="/celebrities">celebrities list</a>
<br />
<a href="/movies/create">Make a movie</a>
<br />
<a href="/movies">movies list</a>